/* TODO pagrindinis turinys turi buti centruotas horizontaliai  */


main {
    display: inline-block;
    width: 800px;
    background-color: bisque;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 100px;

}
div:nth-of-type(1) {
    display: inline-block;
    width: 40%;
    background-color: yellow;
    float: left;
    padding: 40px;
    
}
h1 {
    display: inline-block;
    width: 100%;
    ;
}
a {
    display: inline-block;

}

span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    

}
div:nth-of-type(2) {
    display: inline-block;
    width: 60%;
    background-color: blue;
    float: right
    ;
}